.Date_and_timecontainer {

  
  height: 35vh;



  .datecontainer {
    height: 15vh;
    width: auto;

    align-items: center;
    display: flex;

    .arrowbox {
      height: 3em;
      width: 3em;
      background-color: #2898ec;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      img {
        height: 1.7em;
        width: 2.5em;
      }

      .left_arrow {
        transform: rotateY(180deg);
      }
    }

    .slot {
      display: flex;
      overflow: scroll;
      width: 122vw;
      height: inherit;
      align-items: center;
      &::-webkit-scrollbar {
        display: none; //for all broweser
      }
      transition: ease all 1s;

      .slot_piece {
        cursor: pointer;
        border: 0.817352px solid rgb(210, 210, 210);
        box-shadow: rgba(19, 10, 46, 0.08) 0px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px 6vw;
        margin-right: 2vw;
        border-radius: 25px;
      }

      .active{
        background-color: #7fd0df;
        color: white;
      }
    }
  }


  .timestyle{

    display: flex;
    flex-direction: column;
    p{
      font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
    }

    ul{
      list-style: none;
      display: flex;
      width: auto;
      justify-content: space-evenly;
      margin-bottom: 7px;
  

      .timebox{
        border: 1px solid black;
        padding: 7px 2vw;
        margin-right: 13px;
        border-radius: 15px;
        cursor: pointer;
      }

      .active{
        background-color: #7fd0df;
        color: white;

      }
    }
  }
}
